.menu-lanchonete {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    background: #b62203;
    border-bottom: 2px solid #000;
    width: 100%;
    position: fixed;
}

.container-items-menu {
    display: flex;
    text-transform: uppercase;
    font-family: cursive;
    gap: 100px;
}

.container-items-menu li {
    align-self: center;
}

.menu-lanchonete li a:hover
{
    border-bottom: 1px solid #000;
}

.menu-lanchonete li a {
    text-decoration: none;
    color: #000;
}

@media screen and (max-width: 600px) {
    .menu-lanchonete {
        flex-direction: column;
    }

    .container-items-menu {
        flex-direction: column;
        gap: 10px;
    }
}