header
{
    margin: 0 auto;
    overflow-x: hidden;
    background: #b62203;
    padding: 10px 18% 10px 19%;
    border-bottom: 2px solid #000;
}

header h1 {
    display: inline-block;
}

header div {
    position: relative;
    vertical-align: top;
    left: 300px;
    bottom: 5rem;
}

.menu-lanchonete {
    position: absolute;
}

.menu-lanchonete li {
    list-style: none;
    display: inline-block;
    padding: 10px 50px;
    text-transform: uppercase;
    font-family: cursive;
}

.menu-lanchonete li a:hover
{
    border-bottom: 1px solid #000;
}

.menu-lanchonete li a {
    text-decoration: none;
    color: #000;
}