*{
    scroll-behavior: smooth;
}

body
{
    overflow-x: hidden;
    background-color: #c95B0C;
}

main {
    padding: 80px 0 0 0;
}

.cardapios-restaurante
{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px 0;
}

.cardapios-restaurante > h2, .personalizar > h2
{
    font-family: cursive;
    font-size: 30px;
    color: #000;
    text-transform: uppercase;
}

.container-lanches {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 60px;
    margin: 30px 0 0 0;
}

.container-lanches ul {
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    padding: 20px;
    border: 2px solid;
    border-radius: 10px;
    background: #ff0;
    transition: 1s all;
}

.cardapios-restaurante ul:hover {
    transition: 1s all;
    transform: scale(1.2);
    cursor: pointer;
    background: #ffa;
}

.personalizar {
    display: none;
    flex-direction: column;
    align-items: center;
    margin: 50px 0;
}

.informations {
    margin: 50px;
    padding: 50px;
    border: 5px solid #000;
    border-radius: 100px;
}

.ingredientes, .selecionado, .ingredient, .ingredient > p, .quantidade, .quantidade p {
    display: inline-block;
}

.selecionado
{
    width: 100%;
    text-align: center;
}

.selecionado > p
{
    font-weight: bold;
    font-size: 30px;
    text-transform: uppercase;
}

.ingredientes {
    text-align: center;
    width: 100%;
}

.ingredient {
    width: 80%;
    padding: 10px;
    border: 2px solid;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 5px 5px;
    text-align: left;
    background: #b62203;
}

.ingredient > .nome, .quantidade {
    width: 50%;
    vertical-align: top;
    font-size: 25px;
    font-weight: bold;
}

.personalizacao-preco-total > p {
    font-size: 25px;
    font-weight: bold;
    display: inline-block;
    margin: 10px 20%;
}

.botoes-primarios {
    text-align: center;
}

.botoes-primarios > button {
    padding: 10px;
    border: 0;
    border-radius: 10px;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    background: #b62203;
    cursor: pointer;
    transition: 600ms;
    width: 50%;
    margin: 10px 0;
}

.botoes-primarios > button:first-child:hover {
    background: #ff0;
    box-shadow: 5px 5px;
}

.botoes-primarios > button:last-child:hover {
    background: #0c0;
    box-shadow: 5px 5px;
}

.quantidade {
    text-align: end;
}

.quantidade > p {
    font-weight: bold;
}

.quantidade > div > p:last-child {
    margin: 0 0 0 10px;
    border-left: 1px solid;
    padding: 0 0 0 10px;
}

.quantidade > div > p:first-child, .quantidade > div > p:nth-child(3) {
    cursor: pointer;
}

.valor {
    margin: 0 50px;
}

@media screen and (max-width: 600px) {

    main {
        padding: 150px 0 0 0;
    }

    .informations {
        margin: 50px 0;
        padding: 50px;
        border: 5px solid #000;
        border-radius: 0;
    }

    .ingredient > .nome, .quantidade {
        width: 100%;
        text-align: center;
    }

    .quantidade > p {
        width: 100%;
        text-align: center;
    }

    .quantidade > div {
        text-align: center;
        margin: 30px 0 0 0;
    }

    .quantidade > div > p:last-child {
        width: 100%;
        margin: 30px 0 0 0;
        border-left: 0;
        padding: 0;
    }

    .valor {
        margin: 0 30px;
    }
}