*{
    scroll-behavior: smooth;
}

body
{
    overflow-x: hidden;
    background-color: #c95B0C;
}

.cardapios-restaurante > h2, .personalizar > h2
{
    font-family: cursive;
    font-size: 30px;
    color: #000;
    text-transform: uppercase;
    margin: 0 0 0 50px;
}

.cardapios-restaurante
{
    display: inline-block;
    margin: 50px 0;
    /* display: none; */
}

.container-lanches {
    text-align: center;
}

.container-lanches ul {
    display: inline-block;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    padding: 20px;
    border: 2px solid;
    border-radius: 10px;
    background: #ff0;
    margin: 20px 50px;
    vertical-align: top;
    transition: 1s all;
}

.cardapios-restaurante ul:hover {
    transition: 1s all;
    transform: scale(1.2);
    cursor: pointer;
    background: #ffa;
}

.personalizar {
    margin: 50px 0;
    display: none;
}

.informations {
    margin: 50px;
    padding: 50px;
    border: 1px solid #000;
}

.ingredientes, .selecionado, .ingredient, .ingredient > p, .quantidade, .quantidade > p {
    display: inline-block;
}

.selecionado
{
    width: 100%;
    text-align: center;
}

.selecionado > p
{
    font-weight: bold;
    font-size: 30px;
    text-transform: uppercase;
}

.ingredientes {
    text-align: center;
    width: 100%;
}

.ingredient {
    width: 80%;
    padding: 10px;
    border: 1px solid;
    margin: 10px;
    text-align: left;
}

.ingredient > .nome, .quantidade {
    width: 50%;
}

.quantidade {
    text-align: end;
}

.quantidade > p {
    margin: 0 20px;
    cursor: pointer;
}