footer
{
    text-align: center;
    padding: 10px 0;
    background: #b62203;
}

.sociais > ul {
    display: inline-flex;
}

.direitos
{
    vertical-align: top;
}

.direitos > p
{
    display: inline-block;
    vertical-align: top;
    margin: 50px 0 0 0;
}